/*h1{
    position:center;
    margin-left: 300px;
    color: #3b5998;
    font-weight:600 ;
    margin-bottom: 10px;

}*/
body{
    background:#eee;
}
.header-title{
    color: rgb(70, 81, 139);
}

.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px 0 rgb(126, 123, 123);
    -moz-box-shadow: 1px 1px 2px 0 rgb(126, 123, 123);
    -o-box-shadow: 1px 1px 2px 0 rgb(126, 123, 123);
    -ms-box-shadow: 1px 1px 2px 0 rgb(126, 123, 123);
    box-shadow: 1px 1px 2px 0 rgb(126, 123, 123);
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}
a:hover{
text-decoration:none;
}
a{
    text-decoration:none;
}
button  .material-icons{
    border: none;
    color: #3498db;

}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}
