<div class="main-content" style="margin-left: 20px; margin-right: 20px;">
    <header>
      <div class="header-title-wrapper">
        <label for="">
          <span class="las la-bars"></span>
        </label>
        <div class="header-title">
          <h1><i>Analytics</i></h1>
         <p style="margin-left: 30px;   color: #ccc;">Display analytics about your Website<span class="las la-chart-line"></span></p>
        </div>
      </div>
    </header>
    <main>
      <section>
        <h3 class="section-head">Overview</h3>
      <div class="analytics">
        <div class="analytic">
          <div class="analytic-icon ">
           <span class=" las la-eye"><i class="bi bi-eye-fill"></i></span>
          </div>
          <div class="analytic-info"  >
             <h4>Total Views</h4>
             <h1>10.3M</h1>
           </div>
        </div>
        <div class="analytic">
          <div class="analytic-icon">
           <span class=" las la-clock"><i class="bi bi-clock-fill"></i></span>
          </div>
          <div class="analytic-info">
             <h4>Watch Time (hrs)</h4>
             <h1>20.9k<small class="text-danger">5%</small></h1>
           </div>
        </div>
        <div class="analytic">
          <div class="analytic-icon">
           <span class=" las la-users"><i class="bi bi-people-fill"></i></span>
          </div>
          <div class="analytic-info">
             <h4>Subscribers</h4>
             <h1>1.3k<small class="text-success">12%</small></h1>
           </div>
        </div>
        <div class="analytic">
          <div class="analytic-icon">
           <span class=" las la-heart"><i class="bi bi-heart-fill"></i></span>
          </div>
          <div class="analytic-info">
             <h4>Total likes</h4>
             <h1>3.4m</h1>
           </div>
        </div>
      </div>
      </section>
      <section>
      <div class="block-grid">
          <div class="revenue-card">
            <h3 class="section-head">Total Revenue</h3>
            <div class="rev-content">
              <img src="assets\img\voilee.PNG" alt="">
              <div class="rev-info">
                  <h3>Khaoula Mechergui</h3>
                  <h1>3.5M <small>Subscribers</small></h1>
              </div>
              <div class="rev-sum">
                <h4> Total income</h4>
                <h2>$70,859</h2>
              </div>
          </div>
          </div>
          <div class="graph-card">
            <h3 class="section-head">Map</h3>
            <div class="graph-content">
              <div class="icons-wrapper">
                <div class="content-map">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d178940.8773705145!2d-73.70078637275134!3d45.511060799856594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2zTW9udHLDqWFsLCBRQywgQ2FuYWRh!5e0!3m2!1sfr!2stn!4v1651007781180!5m2!1sfr!2stn" width="650" height="450" style="border:0; border-radius:5px;" allowfullscreen=""  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
    </main>
  </div>
