<!--<h1 style="margin-left: 420px;">Update User</h1>
<hr>
-->
<header>
  <div class="header-title-wrapper">
    <label for="">
      <span class="las la-bars"></span>
    </label>
    <div class="header-title">
      <h1><i>User Update</i></h1>
    </div>
  </div>
</header>
<br><br>
<div style="width: 500px; margin-left: 350px; margin-bottom: 126px;">
  <!--[formGroup]="formGrp"-->
    <form  (ngSubmit)="onSubmit()"  novalidate >
    <!--firstname input-->
    <div class="form-group">
      <label for="name">First Name</label>
      <br>
      <input type="name" class="f-control" id="fname" name="fname"  [(ngModel)]="user.firstName"    required >
    </div>
    <br>
   <!--lastname input-->
    <div class="form-group">
      <label for="name">Last Name</label>
      <br>
      <input type="text" class="f-control" id="lname" name="lname"  [(ngModel)]="user.lastName" required>
    </div>
    <br>
     <!--phone number input-->
      <div class="form-group">
        <label for="name">Phone Number</label>
        <br>
        <input type="tel" class="f-control" id="phonenumber" name="phonenumber" [(ngModel)]="user.phoneNumber"    required >
      </div>
      <!--
      <div *ngIf="phonenumber['phonenumberclr'].touched && phonenumber['phonenumberclr'].invalid" class="show-error" class="alert-message">
        <div *ngIf="phonenumber['phonenumberclr'].errors?.['required'] && phonenumber['phonenumberclr'].dirty">Please enter the phone number</div>
        <div *ngIf="phonenumber['phonenumberclr'].errors?.['pattern'] && phonenumber['phonenumberclr'].dirty">Please enter valid phone number</div>
    </div>
  -->
    <br>

      <!--email input-->
      <div class="form-group">
          <label for="name">Email</label>
          <br>
          <input type="email" class="f-control" name="email" id="email" [(ngModel)]="user.email"   required >
      </div>
      <!--
      <div *ngIf="emailid['emailctrl'].touched && emailid['emailctrl'].invalid" class="show-error" class="alert-message">
        <div *ngIf="emailid['emailctrl'].errors?.['required'] && emailid['emailctrl'].dirty">Please enter the email id</div>
        <div *ngIf="emailid['emailctrl'].errors?.['email'] && emailid['emailctrl'].dirty">Please enter valid email id</div>
      </div>
    -->
    <br/> <br/>
  <!--button-->
    <button type="submit" class="btn btn-success" (click)="clicked()" >Save changes</button>
    <button type="submit" class="btn btn-primary" (click)="list()" style="margin-left: 200px;"  >back to list</button>
    </form>
</div>

