h1{
    position:center;
    margin-left: 300px;
    color: #3b5998;
    font-weight:600 ;
    margin-bottom: 10px;

}
.detail-container{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    text-align:justify;
     margin-left: 280px;
     padding: 90px;
     width: 40%;
}
button{
    margin-left: 50px;
    padding: 10px;
}
  h2{
      text-align: center;
      color: #3b5998;
      font-weight:600 ;

  }
  label{
      color:#6e8bc8;
  }