<div class="main-content" style="margin-left: 250px; margin-right: 20px;">
    <!--
    <header>
      <div class="header-title-wrapper">
        <label for="">
          <span class="las la-bars"></span>
        </label>
        <div class="header-title">
          <h1><i>Analytics</i></h1>
         <p style="margin-left: 30px;   color: #ccc;">Welcome to your account<span class="las la-chart-line"></span></p>
        </div>
      </div>
    </header>
-->
    <main>
        <section>
            <div class="main-section">
                <!--card1-->
                <div class="dashbord" style="margin-right:10px ;">
                <div class="icon-section">
                    <i class="bi bi-chat-dots" aria-hidden="true"></i><br><br>
                <small>Mentions</small>
                <p>56</p>
                </div>
                <div class="detail-section">
                <a href="#">More Info </a>
                </div>
                </div>
                <!--card2-->
                <div class="dashbord dashbord-green"  >
                <div class="icon-section">
                    <i class="bi bi-list-task" aria-hidden="true"></i><br><br>
                <small>Task</small>
                <p>8</p>
                </div>
                <div class="detail-section">
                <a href="#">More Info </a>
                </div>
                </div>
                <!--card3-->
                <div class="dashbord dashbord-orange" style="margin-left: 10px;">
                <div class="icon-section">
                    <i class="bi bi-bell" aria-hidden="true"></i><br><br>
                <small>Alert</small>
                <p>9 New</p>
                </div>
                <div class="detail-section">
                <a href="#">More Info </a>
                </div>
                </div>

                </div>
        </section>

      <section>
      <div class="block-grid">

        <!--weathercard-->

        <!--weathercard-->
          <div class="graph-card">
            <h3 class="section-head">Map</h3>
            <div class="graph-content">
              <div class="icons-wrapper">
                <div class="content-map">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d178940.8773705145!2d-73.70078637275134!3d45.511060799856594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2zTW9udHLDqWFsLCBRQywgQ2FuYWRh!5e0!3m2!1sfr!2stn!4v1651007781180!5m2!1sfr!2stn" width="1050" height="450" style="border:0; border-radius:5px;" allowfullscreen=""  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
              </div>
            </div>
          </div>
      </div>
      </section>
    </main>
  </div>
