<!--partie carousel-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <!--img1-->
      <div class="carousel-item active ">
        <div class="im1"></div>

      </div>

        <!--img2-->
      <div class="carousel-item ">
        <div class="im2"></div>

      </div>
      <!--img3-->
      <div class="carousel-item">
        <div class="im3"></div>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!--servicecards-->

<section class="sercard" id="Services">


  <div class="rowc">
    <h1 class="section-heading">Choose the right services for you.</h1>
         <p class="service-text">
            Targetcatcher provides a variety of services that matches your hiring needs.<br>
            We work with both parties to build long-lasting relationships that are mutually beneficial.<br>
            Do you need a reliable partner? We're here for you.
         </p>
   </div>

<br><br> <br>

<!--raws-->
<div class="rowb">
     <!--col1-->
     <div class="columnb">
        <div class="card">
           <div class="icon-wrapper">
             <i class="bi bi-briefcase"></i>
           </div>
           <h3>Recruitment Process</h3>
           <p>Job posting</p>
           <p>Sourcing Services</p>
           <p>Screening services</p>
           <p>Interviewing (for HR validation)</p>
           <p>Qualifying and scoring</p>
           <p> Submission for validation</p>
           <p><br/><br/></p>
        </div>
     </div>

     <!--col2-->
    <div class="columnb">
      <div class="card">
           <div class="icon-wrapper">
             <i class="bi bi-card-checklist"></i>
           </div>
           <h3>Sourcing Services</h3>
           <p>Local sourcing</p>
           <p>International sourcing</p>
           <p>Searching for the right fit</p>
           <p>Matching resumes to job tasks</p>
           <p>Classifying candidates</p>
           <p> <br/> </p>
           <p><br/><br/></p>
        </div>
     </div>

 <!--col3-->
     <div class="columnb">
       <div class="card">
         <div class="icon-wrapper">
           <i class="bi bi-file-earmark-person"></i>
         </div>
         <h3>Placement Services</h3>
         <p> Matching profile to job descriptions</p>
         <p> Temp to Perm placement</p>
         <p> Temporary placement</p>
         <p> Contract placement</p>
         <p> Permanent placement</p>
         <p><br/></p>
         <p><br/><br/></p>
       </div>
     </div>
</div>
</section>

<br/><br/><br/><br/><br/><br/><br/>
<!--teamcard-->
<section id="About">
  <div class="container">
    <div class="section-title">
      <h1>Our Team </h1>
    </div>

    <div class="row">
      <!--columnteam1-->
      <div class="column">
        <div class="team">
          <div class="team-img">
            <img src="assets\img\mouna.png" alt="Team Image">
          </div>
          <div class="team-content">
            <h2>Mouna Rhioui</h2>
            <h3>CEO & Founder</h3>
            <p>Founder of Target Catcher , Responsible for the company team</p>
            <h4>mounarhioui@gmail.com</h4>
          </div>
          <div class="team-social">

            <a href="#" class="social-fb">  <i class="bi bi-facebook"></i></a>
            <a href="#" class="social-li">  <i class="bi bi-linkedin"></i></a>

          </div>
        </div>
      </div>
       <!--columnteam1-->
       <div class="column">
        <div class="team">
          <div class="team-img">
            <img src="assets\img\voilee.PNG" alt="Team Image">
          </div>
          <div class="team-content">
            <h2>Khaoula Mechergui</h2>
            <h3>Software Engineer</h3>
            <p>Software Enginner, Responsible for the developer team</p>
            <h4>khaoulmchergui@gmail.com</h4>
          </div>
          <div class="team-social">

            <a href="#" class="social-fb">  <i class="bi bi-facebook"></i></a>
            <a href="#" class="social-li">  <i class="bi bi-linkedin"></i></a>

          </div>
        </div>
      </div>
      <!--colum team3-->
      <div class="column" style="width:50%; height: 30%;">
        <div class="team">
          <div class="team-img"  >
            <img src="assets\img\siwar.jpg" alt="Team Image">
          </div>
          <div class="team-content">
            <h2>Siwar Hosni</h2>
            <h3>Full stack developer intern</h3>
            <p>Full stack developer intern and TranscroBot website developer </p>
            <h4>siwarhosni@gmail.com</h4>
          </div>
          <div class="team-social">
            <a href="#" class="social-fb">  <i class="bi bi-facebook"></i></a>
            <a href="#" class="social-li">  <i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
  </section>
  <br/><br/><br/><br/><br/><br/><br/>